/* =====================general===================== */

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Lato", sans-serif;
  height: 866px;
  background: #f3f5f7;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.shadow-box {
  box-shadow: 0px 1px 2px rgba(58, 79, 98, 0.2);
}

.show {
  z-index: 10089;
}

.radius {
  border-radius: 10px;
}

.font-tabel {
  /* title-small */

  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: -0.05em;

  /* text-primary */

  color: #3a4f62;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  background-color: #0b93a2;
}

.only-pointer {
  cursor: pointer;
}

.margin-b {
  margin-bottom: 20px;
}

.margin-t {
  margin-top: 15px;
}

.m-l {
  margin: 0px 0px 0px 220px;
  padding-right: 40px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.inline-text {
  white-space: nowrap;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.no-border {
  border: 0px;
}

.no-color {
  background-color: white;
}

.no:hover {
  border-color: white;
}

/* =====================sidenav===================== */

.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL {
  min-width: 200px;
}

.user-text {
  /* medium strong */

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;

  background-color: #333951;
  overflow-x: hidden;
  padding-top: 20px;
}
.logo {
  width: 144px;
  height: 25px;
  margin: 0px 20px 3px;
}

.apotek-text {
  /* Apotek Rizal */

  width: 103px;
  margin: 0px 20px 14px;

  /* large em */

  font-family: Nunito Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;

  /* identical to box height, or 178% */

  display: flex;
  align-items: center;

  /* text-inverted */

  color: #ffffff;
}

.eclipse {
  /* Ellipse */

  width: 32px;
  height: 32px;
  margin: 8px 20px 24px;
}

.username {
  /* Rizal */

  width: 32px;
  height: 24px;
  margin: 8px -12px 24px;

  /* medium strong */

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;

  /* identical to box height, or 171% */

  display: flex;
  align-items: center;

  /* text-inverted */

  color: #ffffff;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
}

.pos {
  /* icons/nav/pos */

  width: 24px;
  height: 24px;
  margin: 8px 20px;
}

.kasir-text {
  /* Kasir */

  width: 33px;
  height: 24px;
  margin: 10px 0px;

  /* medium strong */

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;

  /* identical to box height, or 171% */

  display: flex;
  align-items: center;

  /* text-inverted */

  color: #ffffff;
}

.inventory-icon {
  width: 20px;
  height: 20px;
  margin: 8px 22px;
}

.stok-text {
  /* Stok barang */

  position: static;
  width: 76px;
  height: 24px;
  margin: 8px 64px;

  /* medium */

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  white-space: nowrap;

  /* identical to box height, or 171% */

  display: flex;
  align-items: center;

  /* text-inverted */

  color: #ffffff;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* =====================Stok Barang===================== */

.pos-input-top {
  margin: 10px 18px 10px 18px;
  padding-right: 4px;
  padding-left: 4px;
}

.text-input-nunito {
  /* medium */

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.arrow {
  margin: 34px 10px 0px 17px;
  position: absolute;
}

.faktur-text {
  /* Faktur pembelian */

  position: static;
  width: 108px;
  height: 24px;
  margin: 32px 40px 0px 34px;

  /* medium */

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;

  /* text-primary */

  color: #3a4f62;
}

.catat-text {
  /* Catat faktur pembelian */

  position: static;
  margin-left: 16px;
  /* width: 378px; */
  height: 52px;
  margin: 0px 0px 0px 0px;

  /* title-xlarge */

  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  /* font-size: 4vw; */
  /* line-height: 52px; */
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  /* text-primary */

  color: #3a4f62;
}

@media only screen and (max-width: 400px) {
  .catat-text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .catat-text {
    font-size: 25px;
  }
}

@media only screen and (max-width: 350px) {
  .catat-text {
    font-size: 18px;
  }
}

.card-top {
  margin-top: 10px;
}

.card-second {
  width: 1019px;
  height: 410px;
  margin-left: 15px;
  margin-top: 10px;
}

.padding-card {
  padding: 0px 10px 0px 10px;
}

.col-card {
  padding-right: 4px;
  padding-left: 4px;
}

.input-card {
  height: calc(1.5em + 0.75rem + 12px);
  width: 100%;
  padding: 0.375rem 0.35rem;
  border-radius: 5px;

  /* font */
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.input-join {
  display: contents;
}

.limit-right {
  padding-right: 0px;
}

.limit-left {
  padding-left: 0px;
}

.input-join-left {
  /* font */
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  height: calc(1.5em + 0.75rem + 12px);
  width: 100%;
  padding: 0.375rem 0.35rem;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.input-join-right {
  /* font */
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  height: calc(1.5em + 0.75rem + 12px);
  width: 100%;
  padding: 0.375rem 0.35rem;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.text-input-spartan {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #3a4f62;
}

.text-v {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  line-height: 45px;
  color: #3a4f62;
  margin-bottom: 0rem;
}

.position-text-v {
  padding-right: 3px;
  justify-content: flex-end;
  display: flex;
}

.calender {
  font-size: 11px;
  position: absolute;
  font-family: Nunito Sans;
  display: inline-table;
}

.btn-position {
  margin: 10px 0px 10px 0px;
}

.btn-style {
  /* button/primary/default */

  /* Auto Layout */

  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: static;
  height: 40px;
  right: 0px;
  top: 0px;

  /* link */

  background: #13c2cd;
  /* link-hover */

  border: 1px solid #0b93a2;
  box-sizing: border-box;
  border-radius: 4px;

  /* font */
  /* title-small */

  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.05em;
}

.btn-style:hover {
  color: #13c2cd;
  background: white;
  border: 2px solid #0b93a2;
}

.split {
  width: 8px;
}

.margin-tc {
  margin-top: 20px;
  margin-bottom: 20px;
}

.border-c {
  border-top: solid rgba(58, 79, 98, 0.2) 1px;
}

.padd-t {
  padding-top: 10px;
  padding-bottom: 10px;
}

.margin-i {
  margin-bottom: 10px;
  margin-top: 10px;
}

.join {
  justify-content: center;
  display: flex;
}
